<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>EmpApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddItem</display-name>
    <servlet-name>AddItem</servlet-name>
    <servlet-class>com.emp.AddItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItem</servlet-name>
    <url-pattern>/AddItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Place</display-name>
    <servlet-name>Place</servlet-name>
    <servlet-class>com.emp.Place</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Place</servlet-name>
    <url-pattern>/Place</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Passwd</display-name>
    <servlet-name>Passwd</servlet-name>
    <servlet-class>com.emp.Passwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Passwd</servlet-name>
    <url-pattern>/Passwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.emp.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>com.emp.servlet.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
</web-app>